body {
    background-color: darkslategrey;
}
.divs {
    font-family: Deathnote Font;
    font-size: 80px;
    line-height: 200px;
    text-align: center;
    margin: auto;
    width: 800px;
    height: 600px;
}
#div1 {
    background-color: rgb(59, 59, 59);
    color: rgb(255, 255, 255);
    /* left: 50%; */
    background-image: url("stars4.jpg");
    /* left: 1%; */
    /* visibility: hidden; */
}
#div2 {
    background-color: rgb(36, 36, 36);
    background-image: url("stars2.jpg");
    color: rgb(255, 255, 255);
    /* left: 25%; */
    /* visibility: hidden; */
}
#div3 {
    background-color: rgb(143, 3, 3);
    background-image: url("stars.jpg");
    color: rgb(255, 255, 255);
    /* left: 50%; */
    /* visibility: hidden; */
}
/* #canvas {
    background-color: darksalmon;
    width: 100%;
    height: 100%;
} */
